@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #0000003e;
  --background-start-rgb: rgb(223, 220, 220);
  --background-end-rgb: 214, 219, 220;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar a {
  padding: 7px 13px;
  border: solid 1px blue;
  border-radius: 5px;
  background-color: #e7f8fe;
  transition: 0.2s;
  cursor: pointer;
}

.navbar a:hover {
  background-color: rgb(202, 188, 188);
}

.card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin: 0 20px;
  padding: 30px 50px;
  background-color: rgb(214, 213, 212);
  gap: 70px;
}